@charset "utf-8";
/*
   
   

   Creston Creek Layout Style Sheet

   Filename: ccw_styles.css
   
*/


/* HTML and Body Styles */

html {
   background: linear-gradient(to top, rgb(102, 51, 0),  rgb(71, 71, 71));
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
}

body {
	background: black;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   max-width: 1024px;
   min-width: 420px;  
   
   margin: 0px auto;
   border: 10px solid rgb(0, 0, 0);
}

/* Flex Layout */
body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: column nowrap;
   flex-flow: column nowrap;
}

header, article, footer {
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
}


/* Header Styles */


 header {
	
   width: 100%;   
}

img#logoimg {
	border-bottom-style: solid;
	border-color: black;
   display: block;
   width: 100%;
}


/* Horizontal Navigation Styles */

header nav ul {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
   height: 40px;
  
}
   
header nav ul li {
	
   -webkit-flex: 0 1 80px;
   flex: 0 1 80px; 
   list-style-type: none;
   margin: 10px;
}

header nav ul li a {
	
   color: rgb(255, 255, 255);
   display: block;
   font-size: 2.5em;
   text-align: center;
   
}

header nav ul li a:hover, nav.horizontal ul li a:active {
   color: rgb(102, 255, 102);
   
}
a#navicon {
   display: none;
}
/* Two images from Index page */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers on Index page */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

/* Article Styles */
article {
   width: 98%;
   margin: 10px auto;
}


article {
   background: linear-gradient(to bottom, rgb(165, 143, 23),  rgb(71, 71, 71));
   color: white ;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 1.2em;
   letter-spacing: 0.03em;
   line-height: 1.2em;
    padding: 5px 0px 5px 12px;
   text-align: left;
}



}
/* Create two unequal columns that floats next to each other Wall Art page */
.row {
	background: linear-gradient(to bottom, rgb(165, 143, 23),  rgb(71, 71, 71));
}
.column {
  
  float: left;
  
  
}

.left {
   color: white;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 2em;
   letter-spacing: 0.03em;
   line-height: 1.2em;
   margin-bottom: 0px;
   text-align: left;
   width: 85%;
}

.right {
   color: black;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 1em;
   letter-spacing: 0.03em;
   line-height: 1.2em;
   margin-bottom: 0px;
   text-align: left;
   width: 15%;
}




footer {
   width: 100%;
   
}

footer p {
	border-top-style: solid;
	border-color: black;
   color: rgb(211, 211, 211);
   font-size: 1.5em;
   text-align: center;
   background: linear-gradient(to bottom, rgb(165, 143, 23),  rgb(71, 71, 71));
   margin: 0px;
   padding: 10px 0px;
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {
	
	img {
  max-width: 100%;
  height: auto;
	}
	
	footer {
  max-width: 100%;
  height: auto;
    
}


   a#navicon {
      display: block;
   }
   
   .column {
    width: 100%;
  }
   
   header nav ul {
      display: none;
   }
   
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }
   
   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
   

   
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
	
	
	
   body header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }
   
   body header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}
