@charset "utf-8";
/*
   
   

   Creston Creek Layout Style Sheet

   Filename: ccw_styles.css
   Author: Tom Settje
   Date: Nov/2021
   These web pages are for educational purposes only. 
*/


/* HTML and Body Styles */

html {
   background: linear-gradient(to top, rgb(102, 51, 0),  rgb(71, 71, 71));
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
}

body {
	background: black;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   max-width: 1240px;
   min-width: 420px;  
   
   margin: 5px auto;
   border: 5px solid rgb(0, 0, 0);
}

/* Flex Layout */
body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: column nowrap;
   flex-flow: column nowrap;
}




/* Header Styles */


 header {
	
   width: 100%;   
}

img#logoimg {
	
    display: block;
    width: 100%;
}

/*Social Media Links */
ul.social li {
    display: inline-block;
	float: right;
    list-style: none;
	padding: 5px;
}
ul.social a img {
    width: 20px;
    height: 20px;
}





/* Horizontal Navigation Styles */

header nav ul {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   background: linear-gradient(to top, rgb(153, 153, 0),  rgb(225, 225, 225));
   height: 40px;
  
}
   
header nav ul li {
	
   -webkit-flex: 0 1 40px;
   flex: 0 1 80px; 
   list-style-type: none;
   margin: 20px;
}

header nav ul li a {
	
   color: black;
   display: block;
   font-size: 2.5em;
   text-align: center;
   
}

header nav ul li a:hover, nav.horizontal ul li a:active {
   color: yellow;
   
}
a#navicon {
   display: none;
}

/* Index page images */
.center1 {
	display: block;
	float: left;
    width: 47%;
		}

.center2 {
	display: block;
	float: right;
    width: 47%;
		}

.center1 {
	border: 10px outset rgb(0, 0, 0);
	border-radius: 25px;
	flex: 50%;
	padding: 5px;
}

.center2 {
	border: 10px outset rgb(0, 0, 0);
	border-radius: 25px;
	flex: 50%;
	padding: 5px;
}




/* Index page Hyperlink to Wall Art page*/
a#walink {
	color: yellow;
			}

h1 {
	color: white;
		}



	/* Index Page Text Styles*/
.about {
	   background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71)); 
	   border: 1px outset rgb(0, 0, 0);
	   color: white ;
	   font-family: Verdana, Geneva, sans-serif;
	   font-weight: normal;
	   font-size: 1.5em;
	   letter-spacing: 0.03em;
	   line-height: 1.2em;
       width: 100%;
}

	/* Wall Art Page Text Styles*/
.product {
	   border: 1px outset rgb(0, 0, 0);
	   color: white ;
	   font-family: Verdana, Geneva, sans-serif;
	   font-weight: normal;
	   font-size: 1.2em;
	   letter-spacing: 0.03em;
	   line-height: 1.2em;
	   width: 100%;
}



	/* Reviews Page Text Styles*/
.reviews {
		background: white;
		border: 1px outset rgb(0, 0, 0);
		color: black;
		font-family: 'Brush Script MT', cursive;
		font-weight: normal;
		font-size: 2em;
		letter-spacing: 0.03em;
		line-height: 1.2em;
		width: 100%;
}


		
/* Clear floats after image containers on Wall Art page */


img#wallArt1 {
		  border: 5px outset rgb(0, 0, 0);
		  border-radius: 25px;
		  display: block;
		  flex: 50%;
		  margin-left: auto;
		  margin-right: auto;
		  width: 75%;
}

img#wallArt2 {
		  border: 5px outset rgb(0, 0, 0);
		  border-radius: 25px;
		  display: block;
		  flex: 50%;
		  margin-left: auto;
		  margin-right: auto;
		  width: 75%;
}

/* Wall Art page video */
.dryWall{
	
	width:99%;height:300px;
}

/*Credit Card Icons Wall Art Page */
img#creditCards {
	  border-radius: 5px;
	  flex: 50%;
	  padding: 5px;
	  width: 95%;
}


/* Create two equal columns that floats next to each other Wall Art page*/
.column {
  float: left;
  width: 49%;
}

/* Clear floats */
.row:after {
  content: "";
  display: table;
  clear: both;
}  
  
.row {
   background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
}

.column {
   
   border: 1px outset rgb(0, 0, 0);
   color: white;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 1.2em;
   letter-spacing: 0.03em;
   line-height: 1.1em;
   margin-bottom: 0px;
   
}





/* Form Layout Styles */
input {
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
	color: black;
	
}
select#orderChoice {
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
	color: black;
}
select#sizeChoice {
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
	color: black;
}

select#panelChoice {
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
	color: black;
}


form#order {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
}
form#order {
	background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
	border-radius: 10px;
	-webkit-flex: 1 1 300px;
	flex: 1 1 300px;
	font-size: 0.85em;
	padding: 10px;
	margin: 10px;
}


div.formRow {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	margin: 7px 0px;
	
}

div.formRow >  * {
	-webkit-flex: 1 1 150px;
	flex: 1 1 150px;
}


/* Order Form Legend Styles */
legend {
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 5px;
	
}

/* Form Button Styles */
div#submitButton {
	text-align: center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	cursor: pointer;
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
}


/*Footer styles */
a#tel {
	color: white;
}

a#tel:hover, active {
   color: yellow;
}

a#email {
	color: white;
}

a#email:hover, active {
   color: yellow;
}

footer {
   width: 100%;
   
}

footer p {
   border-top-style: solid;
   border-color: black;
   color: white;
   font-size: 1.5em;
   text-align: center;
   background: linear-gradient(to bottom, rgb(165, 143, 23),  rgb(71, 71, 71));
   margin: 0px;
   padding: 10px 0px;
}
/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {
	
	img#index {
  max-width: 100%;
  height: auto;
	}

.column {
    width: 50%;
  }
	
	footer {
  max-width: 100%;
  height: auto;
    
}

article {
  max-width: 100%;
  height: auto;
    
}


   a#navicon {
      display: block;
   }
   
  
   
   header nav ul {
      display: none;
   }
   
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }
   
   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
   

   
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
	
	
	
   body header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }
   
   body header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}

