@charset "utf-8";

/*
   
   Final Project CMIS 410
   
   Table Style Sheet
   
   Author: Tom Settje
   Date:   Nov2021
   Filename: ccw_table.css
   
   These web pages are for educational purposes only. 
   

*/


/* Table Styles on Wall Art Page*/


table.prices {
		
	border: 2px outset rgb(0, 0, 0);
	border-collapse: collapse;
	font-size: 1.5em;
	vertical-align: middle;	
	width: 100%;
}

table.prices th, table.prices td {
	border: 5px solid black;
	padding: 5px;
	
}

/* Table Caption Styles */
table.prices caption {
	caption-side: bottom;
	text-align: center;
}

/* Row Group Styles */
table.prices thead, tbody  {
	background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
	color: white;
	text-align: center;
}

table.prices thead tr {
	height: 50px;
}

table.prices tbody tr {
	height: 50px;
}

/* Column Group Styles */
col#firstCol_prices {
	background: rgb(255, 255, 255);
	width: 5%;
}
col.sizeCols {
	background: rgb(255, 255, 255);
	width: 4%;
}

/* Table Styles on Contact Us Page*/

table.hours {
		
	border: 5px solid black;
	border-collapse: collapse;
	font-size: 1.6em;
	vertical-align: middle;	
	width: 100%;
}

table.hours th, table.hours td {
	border: 5px solid black;
			
}

/* Row Group Styles */
table.hours  thead, tbody  {
	background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
	color: white;
	text-align: center;
	
}

table.hours  tbody tr {
	height: 46px;
}


