@charset "utf-8";
/*
   
   

   Creston Creek Layout Style Sheet

   
   Author: Tom Settje
   Date: Nov/2021
   Filename: ccw_styles.css
   These web pages are for educational purposes only. 
*/


/* HTML and Body Styles */

html {
	background: linear-gradient(to top, rgb(102, 51, 0),  rgb(71, 71, 71));
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

body {
	background-color: black;
	border: 5px solid rgb(0, 0, 0);
	display: flex;
	flex-flow: row wrap;
	max-width: 1240px;
	min-width: 420px;  
	margin: 5px auto;
     
}


/* Header Styles */


 header {
	background: black;
	width: 100%;   
}

img#logoimg {
	
	display: block;
	width: 100%;
}

/* Horizontal Navigation Styles */

header nav ul {
   background-color: rgb(71, 71, 71);
   display: flex;
   font-weight: bold;
   justify-content: center;
            
}
   
header nav ul li {
	   
   list-style-type: none;
   margin: 5px 10px 5px 10px;
}

header nav ul li a {
	
   color: white;
   display: block;
   font-size: 2.5em;
   margin: 5px 25px 5px 25px;
   text-align: center;
   
}
header nav ul li a:hover, nav.horizontal ul li a:active {
	color: rgb(153, 255, 102);
	}

.active {
	color: rgb(250, 237, 39);
}

a#navicon {
     display: none;
}

/*Beginning of Index Page*/

/* Index page Hyperlink to Wall Art page*/
a#walink {
    color: rgb(153, 255, 102);
			}
		
/* Index page images */

.br {
	border: 10px outset rgb(165, 143, 23);
	border-radius: 25px;
	flex: 50%;
	padding: 5px;
}

.br {
	display: block;
	float: left;
    width: 47%;
		}

.lv {
	border: 10px outset rgb(165, 143, 23);
	border-radius: 25px;
	flex: 50%;
	padding: 5px;
}


.lv {
	display: block;
	float: right;
    width: 47%;
		}
		
		/* Index Page Text Styles*/
.about_Us {
	 background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71)); 
	 border: 1px outset rgb(0, 0, 0);
	 color: white ;
	 font-family: Helvetica, sans-serif;
	 font-weight: normal;
	 font-size: 1.5em;
	 letter-spacing: 0.03em;
	 line-height: 1.2em;
     width: 100%;
	 text-align: center;
}

/*End of Index Page*/


/*Beginning of Wall Art Page*/

.wa_container {
		background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
}

.wa_container:after {
		content: "";
		display: table;
		clear: both;
}
.wa_columnLeft {
   
		border: 5px solid black;
		color: white;
		font-family: Helvetica, sans-serif;
		font-weight: normal;
		font-size: 1.2em;
		letter-spacing: 0.03em;
		line-height: 1.1em;
 }

.wa_columnLeft {
		float: left;
		width: 49%;
}

.wa_columnRight {
   
		color: white;
		font-family: Helvetica, sans-serif;
		font-weight: normal;
		font-size: 1.2em;
		letter-spacing: 0.03em;
		line-height: 1.1em;
 }
 
.wa_columnRight {
	
		float: left;
		width: 50%;
}

/* Images on Wall Art page */
.wallArtImages {
	
		position: relative;
		display: inline-block;
}

.wallArtImages_dropdown {
	
		border: 10px outset rgb(165, 143, 23);
		border-radius: 15px;
		display: none;
		position: absolute;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
}

.wallArtImages:hover .wallArtImages_dropdown {
		display: block;
}


img#wallArt1 {
		  border: 10px outset rgb(165, 143, 23);
		  border-radius: 25px;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
}

img#wallArt1_dropdown {
		  border-radius: 15px;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  
}

img#wallArt2 {
		  border: 10px outset rgb(165, 143, 23);
		  border-radius: 25px;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
}

img#wallArt2_dropdown {
		  border-radius: 15px;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  
}

img#creditCards {
		border: 1px solid black;
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
		width: 99%;
}

img#order {
		border: 10px outset rgb(165, 143, 23);
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
		width: 97%;
}

/* Wall Art page video */
.dryWall{
		height:300px;
		width:99%;
}

	/* Wall Art Page Text Styles*/
.wallArt_Text {
	   background: rgb(71, 71, 71); 
	   border: 1px outset rgb(0, 0, 0, 0);
	   color: white ;
	   font-family: Helvetica, sans-serif;
	   font-weight: normal;
	   font-size: 1.3em;
	   letter-spacing: 0.03em;
	   line-height: 1.2em;
	   text-align: center;
	  	  
}

.wallArt_Text2 {
	      
	   color: white;
	   font-family: Helvetica, sans-serif;
	   font-weight: normal;
	   font-size: 1.3em;
	   letter-spacing: 0.03em;
	   text-align: center;
	   line-height: 1.2em;
	   width: 100%;
}


.wallArtVideo_text {
	  
	   color: white ;
	   font-family: Helvetica, sans-serif;
	   font-weight: normal;
	   font-size: 1.3em;
	   letter-spacing: 0.03em;
	   line-height: 1.2em;
	   margin-left: auto;
	   margin-right: auto;
	   text-align: center;
	   width: 95%;
}

.wallArt_headerText {
	
	   color: white;
       font-family: Apple Chancery, cursive;
       font-weight: normal;
       font-size: 1.55em;
       letter-spacing: 0.03em;
       line-height: 0.9em;
       text-align: center;
}

/* Form Layout Styles Wall Art Page*/
input {
	   border: 1px solid black;
	   border-radius: 4px;
	   box-sizing: border-box;
	   color: black;
	
}

fieldset#custInfo {
	   border: none;
	   color: white;
	   font-family: Helvetica, sans-serif;
       font-weight: bold;
       font-size: 1.2em;
       letter-spacing: 0.03em;
       line-height: 1.1em;
       width: 98%;
}
select#orderChoice {
	   border: 1px solid black;
	   border-radius: 4px;
	   box-sizing: border-box;
	   color: black;
	
}
select#sizeChoice {
	   border: 1px solid black;
	   border-radius: 4px;
	   box-sizing: border-box;
	   color: black;
}

select#panelChoice {
	  border: 1px solid black;
	  border-radius: 4px;
	  box-sizing: border-box;
	  color: black;
}

form#orderForm {
	
	  display: flex;
	  flex-flow: row wrap;
	  width: 97%;
	
}
form#orderForm {
	  background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
	  border-radius: 10px;
	  -webkit-flex: 1 1 300px;
	  flex: 1 1 300px;
	  font-size: 0.85em;
		
}

/*End of Wall Art Page */

	/*Beginning of Review page*/
 

/*Review Page Images*/
img#feedback {
	  border: 1px solid black;
	  border-radius: 10px;
	  display: block;
	  width: 99%;
}

img#custReview {
	  border: 1px solid black;
	  display: block;
	  max-height: 315px; 	
	  width: 100%;
}
img#thumbsUp {
	  border: 1px solid black;
	  display: block;
	  max-height: 315px; 	
	  width: 100%;
}

	/* Reviews Page Text Styles*/
.reviews {
	  background: linear-gradient(to top, rgb(90, 51, 0),  rgb(71, 71, 71));
	  border: 1px solid black;
	  color: white;
	  font-family: Apple Chancery, cursive;
	  font-weight: normal;
	  font-size: 1.9em;
	  letter-spacing: 0.03em;
	  line-height: 1.2em;
	  width: 100%;   
		
}

fieldset#feedbackInfo {
	  border: none;
	  color: white;
      font-family: Helvetica, sans-serif;
      font-weight: normal;
      font-size: 1.2em;
      letter-spacing: 0.03em;
      line-height: 1.1em;
	  width: 100%; 
}
	/*Comment Box Text Area*/
textarea {
	  margin: 5px;
	  height: 175px;
	  width: 100%;
}


form#reviewForm {
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row wrap;
	  flex-flow: row wrap;
	
}
form#reviewForm {
	  background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
	  border-radius: 10px;
	  -webkit-flex: 1 1 300px;
	  flex: 1 1 300px;
	  font-size: 0.85em;
	  margin: 10px;
	  padding: 10px;
	  width: 90%;
}
	/*End of Review Page*/
	
	/*Reviews and Contact Us Page Container Descriptions*/

.container {
      background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
      border: 2px solid black;
}

.container:after {
      content: "";
      display: table;
      clear: both;
}
.columnLeft {
   
      border: 2px solid black;
      color: white;
      font-family: Helvetica, sans-serif;
      font-weight: normal;
      font-size: 1.2em;
      letter-spacing: 0.03em;
      line-height: 1.1em;
 }

.columnLeft {
      float: left;
      width: 65%;
}

.columnRight {
   
      color: white;
      font-family: Helvetica, sans-serif;
      font-weight: normal;
      font-size: 1.2em;
      letter-spacing: 0.03em;
      line-height: 1.1em;
 }
 
.columnRight {
      float: right;
      width: 34.65%;
}

	/*Forms for Wall Art and Review Page*/

div.formRow {
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row wrap;
	  flex-flow: row wrap;
	  margin: 7px 0px;
}

div.formRow >  * {
	  display: -webkit-flex;
	  display: flex;
	  flex: 1 1 150px;
}

/* Form Button Styles */

div#submitButton {
	  float: left;	
	  text-align: center;
	  width: 49%;
}

div#cancelButton {
	  
	  float: right;
	  text-align: center;
	  width: 49%;
}

input[type='submit'], input[type='reset'] {
	  background-color: rgb(90, 51, 0);
	  color: white;
	  cursor: pointer;
	  font-size: 1.6em;
	  margin: 15px;
	  padding: 5px;
	  
}



/*Beginning of Contact Page */

/* Contact Page Text Styles*/
.contactText {
	  background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71)); 
	   border: 1px outset rgb(0, 0, 0);
	  color: white ;
	  font-family: Helvetica, sans-serif;
	  font-weight: normal;
	  font-size: 1.69em;
	  letter-spacing: 0.03em;
	  line-height: 1.4em;
	  text-align: center;
	  width: 100%;
}

/*Contact Us Page Image*/
img#contact {
	  border: 5px solid black;
	  display: block;
	  width: 99%;
}
img#comeIn {
	  border: 5px solid black;
	  display: block;
	  width: 99%;
}
		
/* Contact Us page Hyperlink to Phone Number, Email, and Facebook*/
a#tel {
	  color: white;
}
a#tel:hover, active {
      color: yellow;
}

a#email {
	  color: white;
}

a#email:hover, active {
      color: yellow;
}

a#facebook {
	  color: white;
}

a#facebook:hover, active {
      color: yellow;
}

/*End of Contact Page */

/*Social Media Links */

ul.social_icons  {
		
		background: linear-gradient(to top, rgb(165, 143, 23),  rgb(71, 71, 71));
		font-weight: bold;
		display: flex;
		flex-flow: row nowrap;
        justify-content: center;
     	list-style-type: none;
		width: 100%;
	
}
ul.social_icons a img {
	
		width: 40px;
		height: 40px;
		margin: 5px 25px 5px 25px;
}


/*Footer styles */
a#callUs {
	   color: white;
}

a#callUs:hover, active {
      color: yellow;
}

a#emailUs {
	   color: white;
}

a#emailUs:hover, active {
       color: yellow;
}

footer {
       width: 100%;
}

footer p {
	   background: linear-gradient(to bottom, rgb(165, 143, 23),  rgb(71, 71, 71));
       border-top-style: solid;
       border-color: black;
       color: white;
       font-size: 1.5em;
       text-align: center;
       margin: 0px;
       padding: 10px 0px;
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
	
	
	
   body header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }
   
   body header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}